.LeftNav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #3e3e41;
  width: 4rem;
}

.LeftNav__brand {
  position: relative;
  color: #4e4e51;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.LeftNav__brand::after {
  content: '';
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 50%;
  background-color: #4e4e51;
  margin-bottom: 1px;
}

.LeftNav__link {
  color: #efeff1;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0.5rem;
  width: 100%;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 2rem;
  transition: background-color 125ms ease;
}

.LeftNav__link:not(.LeftNav__link--active):hover {
  background-color: #2e2e31;
}

.LeftNav__link--active {
  background-color: #1e1e21;
  cursor: default;
}

.LeftNav__link--active::after {
  content: '';
  position: absolute;
  bottom: 0.5rem;
  background-color: #ea0000;
  height: 1px;
  width: 25%;
  animation: active_link_width_grow 250ms;
}

@keyframes active_link_width_grow {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}
