.l-flex-row {
  display: flex;
  flex-direction: row;
}

.l-flex-column {
  display: flex;
  flex-direction: column;
}

.l-flex-align-center {
  align-items: center;
}

.l-flex-justify-center {
  justify-content: center;
}
