.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.App__view-pane {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.App__route-pane {
  flex-grow: 1;
  width: 100%;
}
